install-sh
missing
mkinstalldirs
src/.cvsignore
src/CVS/
src/MSVC/
src/Makefile
src/Makefile.in
src/readme.txt
src/tools/
stamp-h.in
.cvsignore
CVS/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.sub
configure
ferrisloki-*.tar.bz2
ferrisloki-*.tar.xz
depcomp
ferrisloki.pc
ferrisloki.spec

debian/README.Debian
debian/compat
debian/copyright
debian/cron.d.ex
debian/dirs
debian/docs
debian/dsc
debian/emacsen-install.ex
debian/emacsen-remove.ex
debian/emacsen-startup.ex
debian/ferrisloki-default.ex
debian/ferrisloki-dev.debhelper.log
debian/ferrisloki-dev.dirs
debian/ferrisloki-dev.install
debian/ferrisloki-dev.substvars
debian/ferrisloki.doc-base.EX
debian/ferrisloki1.debhelper.log
debian/ferrisloki1.dirs
debian/ferrisloki1.install
debian/ferrisloki1.substvars
debian/files
debian/init.d.ex
debian/manpage.1.ex
debian/manpage.sgml.ex
debian/manpage.xml.ex
debian/menu.ex
debian/postinst.ex
debian/postrm.ex
debian/preinst.ex
debian/prerm.ex
debian/shlibs.local.ex
debian/watch.ex
